# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\julek\Desktop\STUDIA\Semestr 6\Matematyka dla przemysłu\Projekt - optymalizacja pieczenia pizzy\Pizza-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
